:root {
  --clr-dark: #0c0a09;
  --clr-light: #f5f5f4;
  --clr-stone400: #a8a29e;
  --clr-stone600: #57534e;
  --clr-stone800: #292524;
  --clr-rose: #e11d48;
  --clr-indigo: #7c3aed;

  /* rose 	rgb(225, 29, 72) */
  /* indigo 	rgb(124, 58, 237) */

  /* sizes -> from tailwind css */

  --size-xxs: 0.5rem;
  --size-xs: 0.75rem;
  --size-sm: 0.875rem;
  --size-base: 1rem;
  --size-lg: 1.125rem;
  --size-xl: 1.25rem;
  --size-2xl: 1.5rem;
  --size-3xl: 1.875rem;
  --size-4xl: 2.25rem;
  --size-5xl: 3rem;
  --size-6xl: 3.75rem;
  --size-7xl: 4.5rem;
  --size-8xl: 6rem;
  --size-9xl: 8rem;
  --size-10xl: 10rem;
}

/* root is equivalent to html selector */
/* root is used to create variables at Global scope */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: calc(1em + 0.5rem);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'General Sans', sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: var(--clr-dark);
  color: var(--clr-light);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  user-select: none;
}

button {
  display: inline-block;
  border: none;
  padding: 0;
  background: none;
  cursor: pointer;
  color: inherit;
}

a {
  color: var(--clr-rose);
}

strong {
  color: var(--clr-indigo);
}